.book-row {
  margin: 20px 0;
}

.book-row h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  text-align: center;
}

.book-row-content {
  display: flex; /* Ensures horizontal layout */
  flex-wrap: nowrap; /* Prevents wrapping */
  overflow-x: auto; /* Allows horizontal scrolling */
  gap: 10px; /* Adds space between book cards */
}


